/* CSS Document */
body {
	font-family: 'Poppins', sans-serif;
	background-color: hsl(0, 0%, 98%);
	color: hsl(234, 12%, 34%);
}

/*HEADER*/
header {
	text-align: center;
	display: grid;
	margin: 40px 0;
	grid-template3-columns: repeat(3, 1fr);
}

p {
	color: hsl(299, 6%, 66%);
	font-size: 15px;
}

.header-kid {
	/* margin: 8px 33%; */
	grid-column-start: 2;
}

h2 {
	font-size: 1.8rem;
}

.first {
	
}
